@charset "utf-8";
.flex {
    width: 1080px;
    height: 500px;
    margin: 20px auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #669;
    //flex-direction属性决定主轴的方向（即项目的排列方向）
    //flex-decoration: row | row-reverse | column | column-reverse;
    // flex-decoration: column; 
    

    //flex-wrap属性定义，如果一条轴线排不下，如何换行
    //flex-wrap: nowrap | wrap | wrap-reverse;
    // flex-wrap: wrap;


    //flex-flow属性是flex-direction属性和flex-wrap属性的简写形式，默认值为row nowrap
    //flex-flow: <flex-direction> || <flex-wrap>;
    flex-flow: row nowrap;


    //justify-content属性定义了项目在主轴上的对齐方式。
    //justify-content: flex-start | flex-end | center | space-between | space-around;
    justify-content: center;



    //align-items属性定义项目在交叉轴上如何对齐。
    //align-items: flex-start | flex-end | center | baseline | stretch;
    align-items: center;


    //align-content属性定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用。
    //align-content: flex-start | flex-end | center | space-between | space-around | stretch;
    align-content: center;
}

.flex-item {
    background-color: #7fff00;
    color: #2eb7ed;
    // padding: 5px;
    margin: 4px;
    line-height: 100%;
    text-align: center;
    width: auto;
    height: 100px;
    flex-grow: 1;
}

.order {
    //order属性定义项目的排列顺序。数值越小，排列越靠前，默认为0。
    //order: <integer>;
    order: 10;
}

.flex-grow {
    //flex-grow属性定义项目的放大比例，默认为0，即如果存在剩余空间，也不放大。
    //flex-grow:<number>;
    flex-grow: 4;
}

.flex-shrink {
    //flex-shrink属性定义了项目的缩小比例，默认为1，即如果空间不足，该项目将缩小。
    //flex-shrink: <number>;

    flex-shrink:2;
}

.flex-basis{
    //flex-basis属性定义了在分配多余空间之前，项目占据的主轴空间（main size）。
    //浏览器根据这个属性，计算主轴是否有多余空间。它的默认值为auto，即项目的本来大小。
    //flex-basis: <length> | auto;
    flex-basis: 2;
}

.flex{
    //flex属性是flex-grow, flex-shrink 和 flex-basis的简写，默认值为0 1 auto。后两个属性可选。
    //flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]

    flex:0 1 auto;
}

.align-self{
    //align-self属性允许单个项目有与其他项目不一样的对齐方式，可覆盖align-items属性。
    //默认值为auto，表示继承父元素的align-items属性，如果没有父元素，则等同于stretch。
    // align-self: auto | flex-start | flex-end | center | baseline | stretch;
    align-self:flex-end;
}